<a href="https://colab.research.google.com/github/davidofitaly/course_notes_data-science-bootcamp-w-j-zyku-python---od-A-do-Z-12.5h-/blob/main/02_analiza_danych/07_case_study_dane_gie%C5%82dowe_cz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT BIBLIOTETEK

In [4]:
import pandas as pd
import numpy as np
print(f'Numpy: {np.__version__}')
print(f'Pandas : {np.__version__}')

Numpy: 1.21.6
Pandas : 1.21.6

ZAŁADOWANIE DANYCH

In [6]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2022-09-09 to 2017-09-11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1259 non-null   float64
 1   High    1259 non-null   float64
 2   Low     1259 non-null   float64
 3   Close   1259 non-null   float64
 4   Volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [7]:
df

                Open      High       Low     Close    Volume
Date
2022-09-09  130.9100  133.6900  130.7600  133.2700  49422259
2022-09-08  127.7200  130.2800  127.1000  129.8200  43988509
2022-09-07  126.1200  129.8200  125.4000  129.4800  47834487
2022-09-06  127.9200  128.6200  124.7400  126.1100  43888587
2022-09-02  129.5000  131.3800  126.3900  127.5100  57429829
...              ...       ...       ...       ...       ...
2017-09-15   49.6505   49.8125   49.2015   49.3395  75026540
2017-09-14   49.8400   49.9280   49.3870   49.6105  78016020
2017-09-13   49.1985   50.0000   48.9710   49.9800  67244360
2017-09-12   49.1635   49.2336   48.7759   49.1290  49534940
2017-09-11   48.7230   49.0970   48.7110   48.8980  43440240

[1259 rows x 5 columns]

In [8]:
df.head()

              Open    High     Low   Close    Volume
Date
2022-09-09  130.91  133.69  130.76  133.27  49422259
2022-09-08  127.72  130.28  127.10  129.82  43988509
2022-09-07  126.12  129.82  125.40  129.48  47834487
2022-09-06  127.92  128.62  124.74  126.11  43888587
2022-09-02  129.50  131.38  126.39  127.51  57429829

In [9]:
df.tail()

               Open     High      Low    Close    Volume
Date
2017-09-15  49.6505  49.8125  49.2015  49.3395  75026540
2017-09-14  49.8400  49.9280  49.3870  49.6105  78016020
2017-09-13  49.1985  50.0000  48.9710  49.9800  67244360
2017-09-12  49.1635  49.2336  48.7759  49.1290  49534940
2017-09-11  48.7230  49.0970  48.7110  48.8980  43440240

In [10]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [11]:
df.columns = [col.lower() for col in df.columns]
df.columns

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1259.0,1.168164e+02,3.879887e+01,4.727450e+01,8.690725e+01,1.010700e+02,1.583190e+02,1.872000e+02
high,1259.0,1.181778e+02,3.925481e+01,4.743150e+01,8.756675e+01,1.017900e+02,1.599240e+02,1.886540e+02
low,1259.0,1.153116e+02,3.827439e+01,4.658750e+01,8.569550e+01,1.000780e+02,1.562000e+02,1.848400e+02
close,1259.0,1.167591e+02,3.872053e+01,4.693000e+01,8.680850e+01,1.005800e+02,1.580870e+02,1.865700e+02
volume,1259.0,8.606338e+07,4.116882e+07,1.762674e+07,5.824499e+07,7.448846e+07,1.021779e+08,3.310520e+08