<a href="https://colab.research.google.com/github/davidofitaly/course_notes_data-science-bootcamp-w-j-zyku-python---od-A-do-Z-12.5h-/blob/main/02_analiza_danych/10_dataframe_filtrowanie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
def fetch_financial_data(company='UBER'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 841 entries, 2022-09-09 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    841 non-null    float64
 1   High    841 non-null    float64
 2   Low     841 non-null    float64
 3   Close   841 non-null    float64
 4   Volume  841 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 39.4 KB

In [4]:
df['Average'] = (df.Open + df.Close) /2

In [5]:
df = df.sort_index()

In [6]:
df['Close_shift'] = df.Close.shift()

In [8]:
df['Daily_change'] = (df.Close / df.Close_shift - 1)
df

,Open,High,Low,Close,Volume,Average,Close_shift,Daily_change
Date,,,,,,,,
2019-05-10,42.00,45.000,41.0600,41.57,186322536,41.785,NaN,NaN
2019-05-13,38.79,39.240,36.0800,37.10,79442420,37.945,41.57,-0.107529
2019-05-14,38.31,39.960,36.8500,39.96,46661147,39.135,37.10,0.077089
2019-05-15,39.37,41.880,38.9500,41.29,36086065,40.330,39.96,0.033283
2019-05-16,41.48,44.060,41.2500,43.00,38115524,42.240,41.29,0.041414
...,...,...,...,...,...,...,...,...
2022-09-02,29.50,29.635,28.6499,29.05,14604356,29.275,28.92,0.004495
2022-09-06,29.34,29.370,28.2800,28.89,20422802,29.115,29.05,-0.005508
2022-09-07,28.91,30.150,28.8200,30.03,20632173,29.470,28.89,0.039460
2022-09-08,29.42,30.900,29.2900,30.68,29393512,30.050,30.03,0.021645
2022-09-09,31.00,32.050,30.8900,31.78,28055864,31.390,30.68,0.035854

FILTROWANIE DANYCH

In [10]:
df.columns = [col.lower() for col in df.columns]
df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'average', 'close_shift',
       'daily_change'],
      dtype='object')

In [11]:
df.daily_change >0

Date
2019-05-10    False
2019-05-13    False
2019-05-14     True
2019-05-15     True
2019-05-16     True
              ...
2022-09-02     True
2022-09-06    False
2022-09-07     True
2022-09-08     True
2022-09-09     True
Name: daily_change, Length: 841, dtype: bool

In [13]:
df[df['daily_change'] >0]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2019-05-14,38.31,39.960,36.8500,39.96,46661147,39.135,37.10,0.077089
2019-05-15,39.37,41.880,38.9500,41.29,36086065,40.330,39.96,0.033283
2019-05-16,41.48,44.060,41.2500,43.00,38115524,42.240,41.29,0.041414
2019-05-24,41.28,41.510,40.5000,41.51,8786751,41.395,40.47,0.025698
2019-05-31,41.15,41.570,39.4100,40.41,23209848,40.780,39.80,0.015327
...,...,...,...,...,...,...,...,...
2022-09-01,28.17,28.950,27.6900,28.92,17828091,28.545,28.76,0.005563
2022-09-02,29.50,29.635,28.6499,29.05,14604356,29.275,28.92,0.004495
2022-09-07,28.91,30.150,28.8200,30.03,20632173,29.470,28.89,0.039460
2022-09-08,29.42,30.900,29.2900,30.68,29393512,30.050,30.03,0.021645
2022-09-09,31.00,32.050,30.8900,31.78,28055864,31.390,30.68,0.035854

In [14]:
df[df['daily_change'] <0]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2019-05-13,38.79,39.240,36.0800,37.10,79442420,37.945,41.57,-0.107529
2019-05-17,41.98,43.290,41.2700,41.91,20225687,41.945,43.00,-0.025349
2019-05-20,41.19,41.680,39.4600,41.59,29222330,41.390,41.91,-0.007635
2019-05-21,42.00,42.240,41.2500,41.50,10802851,41.750,41.59,-0.002164
2019-05-22,41.05,41.280,40.5000,41.25,9089469,41.150,41.50,-0.006024
...,...,...,...,...,...,...,...,...
2022-08-22,28.34,28.805,27.8700,28.00,20233070,28.170,29.01,-0.034816
2022-08-23,28.06,28.675,27.7500,27.81,24298325,27.935,28.00,-0.006786
2022-08-26,29.51,29.710,28.3601,28.58,16490809,29.045,29.62,-0.035111
2022-08-30,29.18,29.290,28.1200,28.71,24409322,28.945,28.74,-0.001044
2022-09-06,29.34,29.370,28.2800,28.89,20422802,29.115,29.05,-0.005508

In [19]:
positive = df[df['daily_change'] >0]
positive.daily_change.mean()

0.028024140670030923

In [20]:
negative = df[df['daily_change'] <0]
negative.daily_change.mean()

-0.02544878590069457

In [21]:
df[df.close == df.high]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2019-05-14,38.31,39.96,36.85,39.96,46661147,39.135,37.10,0.077089
2019-05-24,41.28,41.51,40.50,41.51,8786751,41.395,40.47,0.025698
2020-08-25,31.04,31.19,30.60,31.19,10056762,31.115,31.04,0.004832
2020-12-04,52.71,54.86,52.71,54.86,22207887,53.785,52.52,0.044554
2021-02-04,56.45,57.85,56.11,57.85,13847255,57.150,57.12,0.012780

In [22]:
df[df.close == df.low]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2019-08-12,39.84,39.95,37.00,37.00,20632310,38.420,40.05,-0.076155
2019-12-09,27.96,28.36,27.68,27.68,21098387,27.820,27.86,-0.006461
2019-12-27,30.80,31.06,30.17,30.17,18465965,30.485,30.67,-0.016303
2020-12-31,53.28,53.28,51.00,51.00,13282786,52.140,53.15,-0.040452
2021-12-31,42.53,43.12,41.93,41.93,13746893,42.230,42.66,-0.017112

In [24]:
df[df.index > '2022-09-01']

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2022-09-02,29.50,29.635,28.6499,29.05,14604356,29.275,28.92,0.004495
2022-09-06,29.34,29.370,28.2800,28.89,20422802,29.115,29.05,-0.005508
2022-09-07,28.91,30.150,28.8200,30.03,20632173,29.470,28.89,0.039460
2022-09-08,29.42,30.900,29.2900,30.68,29393512,30.050,30.03,0.021645
2022-09-09,31.00,32.050,30.8900,31.78,28055864,31.390,30.68,0.035854

In [25]:
df[(df.index > '2022-08-15') & (df.index < '2022-09-10')]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2022-08-16,32.08,32.7250,31.3300,32.38,28072342,32.230,32.49,-0.003386
2022-08-17,31.65,31.7100,30.4400,30.72,24239351,31.185,32.38,-0.051266
2022-08-18,30.56,30.6200,29.8600,30.15,20831615,30.355,30.72,-0.018555
2022-08-19,29.50,29.5700,28.6300,29.01,24180912,29.255,30.15,-0.037811
2022-08-22,28.34,28.8050,27.8700,28.00,20233070,28.170,29.01,-0.034816
2022-08-23,28.06,28.6750,27.7500,27.81,24298325,27.935,28.00,-0.006786
2022-08-24,27.93,29.2200,27.8500,28.71,20022520,28.320,27.81,0.032362
2022-08-25,28.89,29.6400,28.8100,29.62,15470918,29.255,28.71,0.031696
2022-08-26,29.51,29.7100,28.3601,28.58,16490809,29.045,29.62,-0.035111
2022-08-29,28.10,29.1900,28.0600,28.74,17245101,28.420,28.58,0.005598
2022-08-30,29.18,29.2900,28.1200,28.71,24409322,28.945,28.74,-0.001044
2022-08-31,29.11,29.8799,28.7500,28.76,20740662,28.935,28.71,0.001742
2022-09-01,28.17,28.9500,27.6900,28.92,17828091,28.545,28.76,0.005563
2022-09-02,29.50,29.6350,28.6499,29.05,14604356,29.275,28.92,0.004495
2022-09-06,29.34,29.3700,28.2800,28.89,20422802,29.115,29.05,-0.005508
2022-09-07,28.91,30.1500,28.8200,30.03,20632173,29.470,28.89,0.039460
2022-09-08,29.42,30.9000,29.2900,30.68,29393512,30.050,30.03,0.021645
2022-09-09,31.00,32.0500,30.8900,31.78,28055864,31.390,30.68,0.035854

In [27]:
df[(df.index == '2022-08-15') | (df.index == '2022-09-09')]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2022-08-15,32.1,32.91,31.93,32.49,14149208,32.295,32.47,0.000616
2022-09-09,31.0,32.05,30.89,31.78,28055864,31.390,30.68,0.035854

In [28]:
df.index.month

Int64Index([5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
            ...
            8, 8, 8, 8, 9, 9, 9, 9, 9, 9],
           dtype='int64', name='Date', length=841)

In [29]:
df[df.index.month == 5]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2019-05-10,42.00,45.000,41.060,41.57,186322536,41.785,NaN,NaN
2019-05-13,38.79,39.240,36.080,37.10,79442420,37.945,41.57,-0.107529
2019-05-14,38.31,39.960,36.850,39.96,46661147,39.135,37.10,0.077089
2019-05-15,39.37,41.880,38.950,41.29,36086065,40.330,39.96,0.033283
2019-05-16,41.48,44.060,41.250,43.00,38115524,42.240,41.29,0.041414
...,...,...,...,...,...,...,...,...
2022-05-24,23.69,23.740,21.410,21.55,40726064,22.620,23.78,-0.093776
2022-05-25,21.71,22.355,21.275,22.04,31270767,21.875,21.55,0.022738
2022-05-26,22.15,23.280,21.925,23.10,30199398,22.625,22.04,0.048094
2022-05-27,23.49,24.130,23.330,23.67,29710163,23.580,23.10,0.024675
2022-05-31,23.50,23.900,23.034,23.20,33194791,23.350,23.67,-0.019856

In [30]:
df[df.index.year == 2022]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2022-01-03,42.48,44.405,41.8900,43.95,26364965,43.215,41.93,0.048176
2022-01-04,44.23,44.800,42.5800,44.42,30845320,44.325,43.95,0.010694
2022-01-05,44.29,45.900,42.8600,43.24,28498663,43.765,44.42,-0.026565
2022-01-06,43.11,44.080,40.9700,42.03,32434252,42.570,43.24,-0.027983
2022-01-07,42.00,42.650,41.2000,41.51,24875831,41.755,42.03,-0.012372
...,...,...,...,...,...,...,...,...
2022-09-02,29.50,29.635,28.6499,29.05,14604356,29.275,28.92,0.004495
2022-09-06,29.34,29.370,28.2800,28.89,20422802,29.115,29.05,-0.005508
2022-09-07,28.91,30.150,28.8200,30.03,20632173,29.470,28.89,0.039460
2022-09-08,29.42,30.900,29.2900,30.68,29393512,30.050,30.03,0.021645
2022-09-09,31.00,32.050,30.8900,31.78,28055864,31.390,30.68,0.035854

In [34]:
df[df.index.day == 1]

,open,high,low,close,volume,average,close_shift,daily_change
Date,,,,,,,,
2019-07-01,46.980,47.0400,44.0600,44.27,17739998,45.6250,46.38,-0.045494
2019-08-01,42.140,42.5355,41.0000,41.31,7349740,41.7250,42.14,-0.019696
2019-10-01,30.370,30.5100,28.6500,29.15,13448055,29.7600,30.47,-0.043321
2019-11-01,31.450,31.7000,30.7412,31.37,10460430,31.4100,31.50,-0.004127
2020-04-01,26.500,26.7670,24.8101,25.42,38538381,25.9600,27.92,-0.089542
2020-05-01,29.130,29.7200,28.3250,28.39,19290192,28.7600,30.27,-0.062108
2020-06-01,35.640,36.3900,35.1600,35.82,21893806,35.7300,36.32,-0.013767
2020-07-01,30.960,31.2650,30.1622,30.43,13611544,30.6950,31.08,-0.020914
2020-09-01,33.450,34.5100,33.1450,34.30,16026170,33.8750,33.63,0.019923
2020-10-01,36.860,37.8282,36.5800,37.14,19187502,37.0000,36.48,0.018092
2020-12-01,50.000,51.4100,49.0700,49.63,20619101,49.8150,49.66,-0.000604
2021-02-01,52.120,52.9000,51.3500,52.76,15570904,52.4400,50.93,0.035932
2021-03-01,53.670,54.7600,53.3000,54.40,18481137,54.0350,51.75,0.051208
2021-04-01,55.610,57.6300,54.8100,57.60,18703397,56.6050,54.51,0.056687
2021-06-01,51.620,51.6600,49.8400,50.98,16583752,51.3000,50.83,0.002951
2021-07-01,50.880,51.6000,50.0200,50.59,17732585,50.7350,50.12,0.009377
2021-09-01,39.980,41.6650,39.8700,40.62,27788584,40.3000,39.14,0.037813
2021-10-01,45.915,47.2500,45.7900,47.05,25428283,46.4825,44.80,0.050223
2021-11-01,44.070,45.0250,43.6500,44.36,20983925,44.2150,43.82,0.012323
2021-12-01,39.450,39.5000,35.8000,36.02,47369182,37.7350,38.00,-0.052105
2022-02-01,37.630,38.7050,37.2000,38.61,19669916,38.1200,37.40,0.032353
2022-03-01,35.450,35.6000,33.6500,33.89,31436210,34.6700,36.03,-0.059395
2022-04-01,35.680,36.4800,35.4000,35.98,16793293,35.8300,35.68,0.008408
2022-06-01,23.530,23.8700,22.5650,22.94,26383612,23.2350,23.20,-0.011207
2022-07-01,20.700,21.3700,20.4300,21.34,20693312,21.0200,20.46,0.043011
2022-08-01,23.430,24.6200,22.8850,24.60,46960678,24.0150,23.45,0.049041
2022-09-01,28.170,28.9500,27.6900,28.92,17828091,28.5450,28.76,0.005563