<a href="https://colab.research.google.com/github/davidofitaly/course_notes_data-science-bootcamp-w-j-zyku-python---od-A-do-Z-12.5h-/blob/main/02_analiza_danych/13_dataframe_%C5%82%C4%85czenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

In [2]:
def fetch_financial_data(company='UBER'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2022-09-09 to 2017-09-12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   float64
dtypes: float64(5)
memory usage: 59.0 KB

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 841 entries, 2022-09-09 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    841 non-null    float64
 1   High    841 non-null    float64
 2   Low     841 non-null    float64
 3   Close   841 non-null    float64
 4   Volume  841 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 39.4 KB

In [5]:
apple.head()

               Open     High      Low   Close      Volume
Date
2022-09-09  155.470  157.820  154.750  157.37  68081006.0
2022-09-08  154.640  156.360  152.680  154.46  84923847.0
2022-09-07  154.825  156.670  153.610  155.96  87449574.0
2022-09-06  156.470  157.090  153.690  154.53  73714843.0
2022-09-02  159.750  160.362  154.965  155.81  76957768.0

PREPROCESSING

In [6]:
apple.columns = ["apple_" + col.lower() for col in apple.columns]
amazon.columns = ["amazon_" + col.lower() for col in amazon.columns]
google.columns = ["google_" + col.lower() for col in google.columns]
uber.columns = ["uber_" + col.lower() for col in uber.columns]

In [7]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-09-09     155.470     157.820    154.750       157.37    68081006.0
2022-09-08     154.640     156.360    152.680       154.46    84923847.0
2022-09-07     154.825     156.670    153.610       155.96    87449574.0
2022-09-06     156.470     157.090    153.690       154.53    73714843.0
2022-09-02     159.750     160.362    154.965       155.81    76957768.0

KONKATENACJA DANYCH

In [33]:
df = pd.concat(objs=[apple, amazon,google,uber],axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2017-09-12,38.58,38.90,37.67,38.17,301801831.31,49.16,49.23,48.78,49.13,49534940,47.35,47.40,46.88,47.33,25679860,NaN,NaN,NaN,NaN,NaN
2017-09-13,37.93,37.95,37.47,37.87,189104001.80,49.20,50.00,48.97,49.98,67244360,47.27,47.64,47.24,47.52,21894700,NaN,NaN,NaN,NaN,NaN
2017-09-14,37.72,37.82,37.51,37.56,99634472.95,49.84,49.93,49.39,49.61,78016020,47.30,47.40,46.92,47.01,28493420,NaN,NaN,NaN,NaN,NaN
2017-09-15,37.61,38.19,37.49,37.93,205883092.57,49.65,49.81,49.20,49.34,75026540,47.00,47.09,46.56,46.76,39131400,NaN,NaN,NaN,NaN,NaN
2017-09-18,37.99,38.08,37.49,37.65,118682733.36,49.52,49.64,48.41,48.71,68016480,46.75,46.84,46.27,46.49,29124440,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-02,159.75,160.36,154.97,155.81,76957768.00,129.50,131.38,126.39,127.51,57429829,110.59,110.74,107.26,107.85,24160711,29.50,29.64,28.65,29.05,14604356.00
2022-09-06,156.47,157.09,153.69,154.53,73714843.00,127.92,128.62,124.74,126.11,43888587,107.30,108.03,105.78,106.81,25068280,29.34,29.37,28.28,28.89,20422802.00
2022-09-07,154.82,156.67,153.61,155.96,87449574.00,126.12,129.82,125.40,129.48,47834487,107.06,109.98,106.90,109.45,23166967,28.91,30.15,28.82,30.03,20632173.00
2022-09-08,154.64,156.36,152.68,154.46,84923847.00,127.72,130.28,127.10,129.82,43988509,108.04,109.60,107.16,108.38,24238293,29.42,30.90,29.29,30.68,29393512.00
2022-09-09,155.47,157.82,154.75,157.37,68081006.00,130.91,133.69,130.76,133.27,49422259,109.06,110.99,109.02,110.65,23213585,31.00,32.05,30.89,31.78,28055864.00

In [34]:
df = df.describe()
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,841.00,841.00,841.00,841.00,841.00
mean,90.41,91.47,89.40,90.48,121127195.39,116.87,118.23,115.36,116.81,86097265.07,82.90,83.80,82.01,82.93,35234042.44,38.37,39.14,37.49,38.32,25629280.36
std,46.94,47.53,46.34,46.96,57038126.01,38.77,39.22,38.24,38.69,41167632.10,31.73,32.04,31.35,31.68,16059191.96,9.81,9.88,9.67,9.76,16874694.98
min,34.80,35.22,34.32,34.37,41169609.59,47.27,47.43,46.59,46.93,17626740.00,46.67,46.84,46.23,46.49,9312760.00,15.96,17.80,13.71,14.82,3380003.00
25%,46.01,46.32,45.64,46.00,82554745.15,86.92,87.62,85.70,86.85,58279170.00,56.91,57.42,56.25,56.96,25076610.00,31.20,31.98,30.48,31.19,15466520.00
50%,72.79,73.92,71.74,73.19,106356645.47,101.08,101.88,100.10,100.61,74527100.00,67.95,68.71,67.48,68.10,31324510.00,36.50,37.33,35.50,36.49,21786591.00
75%,134.14,135.31,132.41,133.64,142152996.91,158.33,159.93,156.22,158.09,102228760.00,112.62,114.01,111.44,112.70,40141325.00,45.03,45.98,44.16,45.00,31212255.00
max,181.88,182.19,178.38,181.26,433988621.55,187.20,188.65,184.84,186.57,331051960.00,151.25,151.55,148.90,149.84,133177100.00,63.25,64.05,60.80,63.18,186322536.00

In [35]:
# zmiana formatu 

pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,841.00,841.00,841.00,841.00,841.00
mean,90.41,91.47,89.40,90.48,121127195.39,116.87,118.23,115.36,116.81,86097265.07,82.90,83.80,82.01,82.93,35234042.44,38.37,39.14,37.49,38.32,25629280.36
std,46.94,47.53,46.34,46.96,57038126.01,38.77,39.22,38.24,38.69,41167632.10,31.73,32.04,31.35,31.68,16059191.96,9.81,9.88,9.67,9.76,16874694.98
min,34.80,35.22,34.32,34.37,41169609.59,47.27,47.43,46.59,46.93,17626740.00,46.67,46.84,46.23,46.49,9312760.00,15.96,17.80,13.71,14.82,3380003.00
25%,46.01,46.32,45.64,46.00,82554745.15,86.92,87.62,85.70,86.85,58279170.00,56.91,57.42,56.25,56.96,25076610.00,31.20,31.98,30.48,31.19,15466520.00
50%,72.79,73.92,71.74,73.19,106356645.47,101.08,101.88,100.10,100.61,74527100.00,67.95,68.71,67.48,68.10,31324510.00,36.50,37.33,35.50,36.49,21786591.00
75%,134.14,135.31,132.41,133.64,142152996.91,158.33,159.93,156.22,158.09,102228760.00,112.62,114.01,111.44,112.70,40141325.00,45.03,45.98,44.16,45.00,31212255.00
max,181.88,182.19,178.38,181.26,433988621.55,187.20,188.65,184.84,186.57,331051960.00,151.25,151.55,148.90,149.84,133177100.00,63.25,64.05,60.80,63.18,186322536.00

In [36]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.24,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.15
apple_high,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.24,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.15
apple_low,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.24,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.15
apple_close,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.24,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.15
apple_volume,-0.27,-0.27,-0.27,-0.27,1.00,-0.27,-0.27,-0.28,-0.27,1.00,-0.29,-0.29,-0.30,-0.29,1.00,-0.32,-0.32,-0.33,-0.32,0.98
amazon_open,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.26,1.00,1.00,1.00,1.00,-0.16
amazon_high,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.26,1.00,1.00,1.00,1.00,-0.16
amazon_low,1.00,1.00,1.00,1.00,-0.28,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.26,1.00,1.00,1.00,1.00,-0.16
amazon_close,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.00,-0.26,1.00,1.00,1.00,1.00,-0.16
amazon_volume,-0.24,-0.24,-0.24,-0.24,1.00,-0.25,-0.25,-0.25,-0.25,1.00,-0.27,-0.27,-0.27,-0.27,1.00,-0.30,-0.30,-0.30,-0.30,0.99
google_open,1.00,1.00,1.00,1.00,-0.29,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.28,1.00,1.00,1.00,1.00,-0.17
google_high,1.00,1.00,1.00,1.00,-0.29,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.28,1.00,1.00,1.00,1.00,-0.17
google_low,1.00,1.00,1.00,1.00,-0.30,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.28,1.00,1.00,1.00,1.00,-0.18
google_close,1.00,1.00,1.00,1.00,-0.29,1.00,1.00,1.00,1.00,-0.27,1.00,1.00,1.00,1.00,-0.28,1.00,1.00,1.00,1.00,-0.17
google_volume,-0.25,-0.25,-0.25,-0.25,1.00,-0.26,-0.26,-0.26,-0.26,1.00,-0.28,-0.28,-0.28,-0.28,1.00,-0.31,-0.31,-0.31,-0.31,0.99
uber_open,1.00,1.00,1.00,1.00,-0.32,1.00,1.00,1.00,1.00,-0.30,1.00,1.00,1.00,1.00,-0.31,1.00,1.00,1.00,1.00,-0.20
uber_high,1.00,1.00,1.00,1.00,-0.32,1.00,1.00,1.00,1.00,-0.30,1.00,1.00,1.00,1.00,-0.31,1.00,1.00,1.00,1.00,-0.20
uber_low,1.00,1.00,1.00,1.00,-0.33,1.00,1.00,1.00,1.00,-0.30,1.00,1.00,1.00,1.00,-0.31,1.00,1.00,1.00,1.00,-0.21
uber_close,1.00,1.00,1.00,1.00,-0.32,1.00,1.00,1.00,1.00,-0.30,1.00,1.00,1.00,1.00,-0.31,1.00,1.00,1.00,1.00,-0.20
uber_volume,-0.15,-0.15,-0.15,-0.15,0.98,-0.16,-0.16,-0.16,-0.16,0.99,-0.17,-0.17,-0.18,-0.17,0.99,-0.20,-0.20,-0.21,-0.20,1.00

In [37]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [41]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [44]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          1.00          1.00        1.00
amazon_close         1.00          1.00          1.00        1.00
google_close         1.00          1.00          1.00        1.00
uber_close           1.00          1.00          1.00        1.00